@font-face {
  font-family: 'MiFont'; 
  src: url('../../assets/font/Monoton-Regular.ttf') format('woff2'); 
}

.nav-container {
  background-color: black;
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-container {
  margin-left: 52rem; 
  font-size: 1.7rem;
  color: #FF0000ff; 
  font-family: 'MiFont'; 
}

.button-container {
  margin-right: 50px;
  padding: auto;
}

.nav-button {
  padding: 10px 15px;
  margin: 25px;
  font-size: 1rem;
  background-color: transparent;
  border: 2px solid;
  border-radius: 15px;
  color: whitesmoke;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  width: 100px;
}

.nav-button:hover {
  background-color: #2f3e46;
  color: #84a98c;
  border-color: #84a98c;
}
